@page "/view-project"



<div class="container mt-5">

    <div class="row">
        <div class="col-md-10 mb-4 offset-lg-1">
            <div class="card text-dark   shadow-lg " style="background-color:white;">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-5">
                        <div>

                            <h3 class="fw-bold ">Project #1</h3>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary ">Delete</button>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card p-2">
                                <div class="d-flex justify-content-between">
                                    <span>Status</span><span class="text-primary"> Active </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card p-2">
                                <div class="d-flex justify-content-between">
                                    <span>Award Date  </span><span class="text-primary">1/1/1</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card p-2">
                                <div class="d-flex justify-content-between">
                                    <span>Funding Approved </span><span class="text-primary">True</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card p-2">
                                <div class="d-flex justify-content-between">
                                    <span>Approved Timeline</span><span class="text-primary">1/2/3</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mt-4">
                            <div class="card p-2">
                                <div class="d-flex justify-content-between">
                                    <span>Award Letter</span><span class="text-primary">PDF</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
